* {
    margin: 0;
    border: 0;
    padding: 3px;

    outline: none;

    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;}
body {
    height: 100%;

    border: 0;
    padding: 0;
    padding-top: 20px;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FF0078;}
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 380px;
    justify-content: center;

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        padding-right: 10px;
        padding-left:  10px;

        input {
            text-align: center;
        }
    }
}
#list {
    width: 380px;
    list-style: none;
    margin: 0;

    li {
        border-style: solid;
        border-color: #daaaaa;
        border-width: 1px;

        display: flex;
        background-color: antiquewhite;
        justify-content: space-between;

        button {
            background-color: #fDc9f1;
            min-width: 35px;

            padding-left: 10px;
            padding-right: 10px;

            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }}